doctype html
html(lang="en", ng-app="app")
    head
        meta(charset="utf-8")
        title= siteTitle
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        if environment == "production"
            link(rel="stylesheet", href="/build/css/app.min.css")
            //- uncomment jQuery if you use bootstrap JavaScript components
            //- script(src="/vendor/jquery/jquery.min.js")
            script(src="/build/js/app.min.js")
            <!--[if lt IE 9]>
            script(src="/vendor/html5shiv/html5shiv.min.js")
            <![endif]-->
        else
            link(rel="stylesheet", href="/build/css/app.css")
            //- uncomment jQuery if you use bootstrap JavaScript components
            //- script(src="/vendor/jquery/jquery.js")
            script(src="/build/js/app.js")
            <!--[if lt IE 9]>
            script(src="/vendor/html5shiv/html5shiv.js")
            <![endif]-->

    body
      block site-header
        include ../components/header/header.jade
      block site-main
      block site-footer
        include ../components/footer/footer.jade
